<div class="container">
  <div class="row homepage--pushcontent__below">
    <h4>The Mob family</h4>
    <h5>Our most devoted soldiers</h5>
    <div class="contentdiv--default__shadow">
      <% @most_active_skaters.each do |skater|%>
        <% if current_user.nil? %>
          <div class="col s4">
            <%= render partial: "helpers/visitor/list_user_profile", locals: {skater: skater} %>
          </div>
        <% elsif skater.id != current_user.id  %>
          <div class="col s4">
            <%= render partial: "helpers/current_user/list_user_profile", locals: {skater: skater} %>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <% if current_user %>
      <div class="pushing__div--below">
        <ul class="skater__menu--whitebg">
          <% @skaters.each do |skater|%>
            <% next if skater.id == current_user.id %>
            <li><%= link_to skater.username, skater_path(skater) %></li>
          <% end %>
        </ul>
      </div>
      <% else %>
        <div class="pushing__div--below">
          <div class="rules__about--div">
            <%= render 'helpers/suscribe_buttons' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col s6 pushing__div--below">
      <h4>Check the latest clip!</h4>
      <%= render partial: "videos/video_media", locals: {video: @last_video_updated} %>
    </div>
  </div>
  <div class="section">
  </div>
</div>
