<div class="container">
  <div class="row">
    <div class="col-lg-4 contentdiv--default__shadow">
      <h3>The Mob family</h3>
      <h4>Our most devoted soldiers</h4>
      <% @most_active_skaters.each do |skater|%>
        <% if current_user.nil? %>
          <ul>
            <li>
              <div class="media">
                <div class="media-left media-middle">
                  <img class="media-object rounded--avatars" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading"><%= skater.username %></h4>
                    <% if skater.stance.present? %>
                      <b>Stance:</b> <%= skater.stance.capitalize() %>
                      <% if skater.videos.length == 1 %>
                        <p> <%= skater.videos.length %> video posted</p>
                      <% else %>
                        <p><%= skater.videos.length %> videos posted</p>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </li>
          </ul>
        <% elsif skater.id != current_user.id  %>
          <ul>
            <li>
              <div class="media">
                <div class="media-left media-middle">
                  <a href="<%= skater_path(skater) %>">
                    <img class="media-object rounded--avatars" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
                  </a>
                </div>
                <div class="media-body media-middle">
                  <h4 class="media-heading"><%= skater.username %></h4>
                    <p><%= skater.username %> already posted <%= (skater.videos.length) %> clips.</p>
                    <% if skater.stance.present? %>
                      <b>Stance:</b> <%= skater.stance.capitalize() %>
                    <% end %>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      <%end%>
    </div>

    <div class="col-lg-3">
      <% if current_user %>
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a skater <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% @skaters.each do |skater|%>
              <% next if skater.id == current_user.id %>
              <li><%= link_to skater.username, skater_path(skater) %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div class="rules__about--div">
          <p>You have to login to see all the skaters</p>
        </div>
        <button type="button" role="button" data-target="#myModal" data-toggle="modal" class="btn btn-default"><%= link_to "Create a new account", "#myMdoal"%></button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register as a new user</h4>
              </div>
              <div class="modal-body">
                <%= render 'helpers/account_new_form' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" role="button" data-target="#myModal1" data-toggle="modal" class="btn btn-default"><%= link_to "Or log in with your account", "#myMdoal1"%></button>
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Sign in</h4>
              </div>
              <div class="modal-body">
                <%= render 'helpers/signin_form' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-5 contentdiv--default__shadow">
      <h4>Check the latest clip!</h4>
      <div class="video__carousel--slide">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @last_video_updated.url.slice(-11, 11) %>"></iframe>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
