<div class="main__background custom__background-<%=@bg_id%>">
  <div class="container">
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="section">
        <div class="card">
          <div class="card-content spot__show--collapsible">
            <span class="card-title activator grey-text text-darken-4">
              <h4 class="center-align">The Mob family</h4>
              <h5 class="center-align">Our most devoted soldiers</h5>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <% @most_active_skaters.each do |skater|%>
        <% if current_user.nil? %>
          <div class="col s4">
            <%= render partial: "helpers/visitor/list_user_profile", locals: {skater: skater} %>
          </div>
        <% elsif skater.id != current_user.id  %>
          <div class="col s4">
            <%= render partial: "helpers/current_user/list_user_profile", locals: {skater: skater} %>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>

  <div class="row">
    <% if current_user %>
      <div class="col m6 offset-m3 s12">
        <div class="section">
          <div class="card">
            <div class="card-content spot__show--collapsible">
              <h5 class="center-align">Check the latest clip!</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="section">
          <%= render partial: "videos/video_media", locals: {video: @last_video_updated} %>
        </div>
      </div>
    <% else %>
      <div class="col m6 s12">
        <div class="section">
          <%= render partial: "videos/video_media", locals: {video: @last_video_updated} %>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="section">
          <%= render 'helpers/suscribe_buttons' %>
        </div>
      </div>
    <% end %>
  </div>

    <div class="section">
    </div>
  </div>

</div>
</div>
