<div class="container">
  <% if current_user.id == @skater.id %>
    <div class="row homepage--pushcontent__below">
        <%= render partial: "helpers/current_user/user_profile", locals: {user: current_user} %>
    </div>
    <div class="row video__carousel--border  homepage--pushcontent__below">
      <h5>Your clips</h5>
      <% if current_user.videos.any?%>
        <% current_user.videos.each do |video| %>
          <%= render partial: "videos/video_media", locals: {video: video} %>
          <%= render partial: "helpers/current_user/edit_delete_video_buttons", locals: {video: video} %>
        <% end %>
      <% else %>
        You didn't submit any video yet. <%= link_to "Submit your first clip", new_video_path %>
      <% end %>
      </div>
  <% else %>
    <div class="row  homepage--pushcontent__below">
      <%= render partial: "helpers/visitor/user_profile", locals: {skater: @skater} %>

    </div>
    <div clas="row">
      <% if @skater.videos.any?%>
        <div class="row video__carousel--border  homepage--pushcontent__below">
          <%if @skater.videos.length == 1 %>
            <div class="col s12">
              <%= render partial: "videos/video_media", locals: {video: @skater.videos[0]} %>
            </div>
          <% elsif @skater.videos.length == 2 %>
            <% @skater.videos.each do |video| %>
              <div class="col s6">
                <%= render partial: "videos/video_media", locals: {video: video} %>
              </div>
            <% end %>
          <%else%>
            <% @skater.videos.each do |video| %>
              <div class="col s4">
                <%= render partial: "videos/video_media", locals: {video: video} %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
