<div class="container">
  <% if current_user.id == @skater.id %>
    <div class="row">
      <div class="col-md-6">
        <img class="media-object rounded--avatars" src="<%= current_user.logo.url(:medium)%>" alt="Skater's avatar">
      </div>
      <div class="col-md-6">
        <div class="media-body">
          <h4 class="media-heading"><%= current_user.username %></h4>
          <p>You are <%= current_user.stance %>-footed</p>
          <% if current_user.videos.any? %>
            <% if current_user.videos.length == 1 %>
              <p>You already posted <%= (current_user.videos.length) %> video. Keep on shredding!</p>
            <% else %>
              <p>You already posted <%= (current_user.videos.length) %> videos. Keep on shredding!</p>
            <% end %>
          <% elsif %>
            <p>Don't be scared of the Mob. <%= link_to "Submit your first clip", new_video_path %> and get rewarded!</p>
          <% end %>
          <p><span class="glyphicon glyphicon-cog"></span> <%= link_to "Update your profile", edit_skater_path(current_user)%></p>
          <p><span class="glyphicon glyphicon-trash"></span> <%= link_to "Wanna quit the Mob?", current_user, method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %></p>
        </div>
      </div>
    </div>

      <div class="row video__carousel--border">
        <h3>Your clips</h3>
        <% if current_user.videos.any?%>
          <% current_user.videos.each do |video| %>
            <div class="col-md-6 video__carousel--slide">
              <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
              </div>
              <p><span class="glyphicon glyphicon-cog"></span> <%= link_to "Modify this video", edit_video_path(video)%></p>
              <p><span class="glyphicon glyphicon-trash"></span> <%= link_to "Delete this video", video, method: :delete, data: { confirm: "Are you sure?"} %><p>
            </div>
          <% end %>
      <% else %>
        You didn't submit any video yet. <%= link_to "Submit your first clip", new_video_path %>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-6">
        <img class="media-object rounded--avatars" style="width: 250px; height: 250px" src="<%= @skater.logo.url(:medium)%>" alt="Skater's avatar">
      </div>
      <div class="col-md-6">
        <div class="media-body">
          <h4 class="media-heading"><%= @skater.username %></h4>
          <p><%= @skater.username %> is <%= @skater.stance %>-footed</p>
          <% if @skater.videos.any? %>
            <% if @skater.videos.length == 1 %>
              <p><%= @skater.username %> already posted <%= (@skater.videos.length) %> video.</p>
            <% else %>
              <p><%= @skater.username %> already posted <%= (@skater.videos.length) %> videos.</p>
            <%end %>
          <% elsif %>
            <p>No video submited by this skater yet.</p>
          <% end %>
        </div>
      </div>
    </div>

      <% if @skater.videos.any?%>
      <div class="row video__carousel--border">
        <% @skater.videos.each do |video| %>
          <div class="col-md-6 video__carousel--slide">
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
            </div>
          </div>
        <% end %>
          </div>
    <% end %>

    <% end %>
  </div>
</div>
