<div class="container">
  <% if current_user.id == @skater.id %>
    <div class="row">
      <%= render partial: "helpers/current_user/user_profile", locals: {skater: current_user} %>
      <div class="col l6 offset-l3 s12 center-align">
        <div class="section">
          <div class="card-panel jumbotron">
            <span class="black-text">
              <h5>Your clips</h5>
            </span>
          </div>
        </div>
      </div>

      <% if current_user.videos.any? %>

        <% if current_user.videos.length == 1 %>
          <div class="col s12">
            <div class="divider"></div>
            <div class="section center-align">
              <%= render "helpers/video_media", video: current_user.videos[0] %>
            </div>
          </div>
          <div class="col s12 m6 offset-m3">
            <%= render partial: "helpers/current_user/edit_delete_video_buttons", locals: {video: current_user.videos[0]} %>
          </div>
        <%elsif current_user.videos.length == 2 %>
          <%current_user.videos.each do |video| %>
            <div class="col m6 s12">
              <%= render "helpers/video_media", video: video %>
              <%= render partial: "helpers/current_user/edit_delete_video_buttons", locals: {video: video} %>
            </div>
          <% end %>
        <%elsif current_user.videos.length > 2 %>
          <div class="col m6 s12">
            <%current_user.videos.each do |video|
              if index % 2 == 0 %>
              <%= render "helpers/video_media", video: video %>
              <%= render partial: "helpers/current_user/edit_delete_video_buttons", locals: {video: video} %>
              <%end%>
            <%end%>
          </div>
          <div class="col m6 s12">
            <%current_user.videos.each do |video|
              if index % 2 != 0 %>
              <%= render "helpers/video_media", video: video %>
              <%= render partial: "helpers/current_user/edit_delete_video_buttons", locals: {video: video} %>
              <%end%>
            <%end%>
          </div>
        <%end%>
      <% else %>
        <div class="col s12">
          <div class="section">
              <div class="card-panel center-align jumbotron">
                <span class="black-text">
                  <h5>You didn't submit any video yet.</h5>
                  <%= link_to "Submit your first clip", new_video_path, class:"btn" %></h5>
                </span>
              </div>
          </div>
        </div>
      <% end %>
    </div>

    <% else %>
      <div class="row">
        <%= render partial: "helpers/visitor/user_profile", locals: {skater: @skater} %>
        <div class="col l6 offset-l3 s12 center-align">
          <div class="section">
            <div class="card-panel jumbotron">
              <span class="black-text">
                <h5><%= @skater.username %>'s clips</h5>
              </span>
            </div>
          </div>
        </div>
      <% if @skater.videos.any? %>
        <% if @skater.videos.length == 1 %>
          <div class="col s12">
            <div class="divider"></div>
            <div class="section">
              <%= render partial: "helpers/video_media", locals: {video: @skater.videos[0]} %>
            </div>
          </div>
        <% elsif @skater.videos.length == 2 %>
          <% @skater.videos.each do |video| %>
            <div class="col m6 s12">
              <div class="section">
                <%= render partial: "helpers/video_media", locals: {video: video} %>
              </div>
            </div>
          <%end%>
        <%elsif @skater.videos.length > 2 %>
          <div class="col m6 s12">
            <%@skater.videos.each_with_index do |video, index|
              if index % 2 == 0 %>
              <div class="section">
                <%= render "helpers/video_media", video: video %>
              </div>
              <%end%>
            <%end%>
          </div>
          <div class="col m6 s12">
            <%@skater.videos.each_with_index do |video, index|
              if index % 2 != 0 %>
              <div class="section">
                <%= render "helpers/video_media", video: video %>
              </div>
              <%end%>
            <%end%>
          </div>
        <%end%>
    <% else %>
      <div class="col s12">
        <div class="section">
            <div class="card-panel jumbotron">
              <span class="black-text">
                <h5><%= @skater.username%> didn't submit any video yet.</h5>
              </span>
            </div>
        </div>
      </div>
    <% end %>
      <div class="col s12">
        <div class="section">
        </div>
      </div>
    </div>
  <%end%>
</div>
