<ul class="collapsible" data-collapsible="accordion">
   <li>
     <div class="center-align hoverable collapsible-header show__collapse__header spot__show--collapsible"><div class="div__dropdown--showspot"><img class="navbar--title rounded--avatars" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar"> <span class="text__dropdown--card"><%= skater.username %></span></div></div>
     <div class="collapsible-body spot__show--collapsible navbar--title center-align">
       <% if skater.stance.present? %>
        <p><b>Stance:</b> <%= skater.stance.capitalize() %></p>
        <div class="divider"></div>
      <%end%>
      <% if skater.videos.length == 1 %>
        <p class="center-align"> <%= skater.videos.length %> video posted</p>
      <% else %>
        <p class="center-align"><%= skater.videos.length %> videos posted</p>
      <% end %>
     </div>
   </li>
 </ul>
