<ul class="collapsible" data-collapsible="accordion">
   <li>
     <div class="center-align hoverable jumbotron collapsible-header show__collapse__header" id="show_skater_info">
       <div class="div__dropdown--showspot">
         <img class="navbar--title rounded--avatars" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
         <span class="text__dropdown--card"><%= truncate skater.username, length: 19 %>
         </span>
       </div>
     </div>
     <button id="show_skater_info-button" class="show__spot--seemore btn">Click above for more
     </button>
     <div class="collapsible-body spot__show--collapsible navbar--title center-align">
       <% if skater.stance.present? %>
        <p><b>Stance:</b> <%= skater.stance.capitalize() %></p>
        <div class="divider"></div>
      <%end%>
      <% if skater.videos.length == 1 %>
        <p class="center-align"> <%= skater.videos.length %> video posted</p>
      <% else %>
        <p class="center-align"><%= skater.videos.length %> videos posted</p>
      <% end %>
     </div>
   </li>
 </ul>
