<% if !videos.present? %>
<div class="col s12">
  <p>No clips submited. Post your YouTube clip for this spot and you'll become the Boss of <%= @spot.name %></p>
</div>
<% elsif videos.length == 1 %>
  <h4>Overall best video</h4>
  <div class="col s12 video__carousel--slide">
    <%= render partial: "videos/video_media", locals: {video: videos[0]} %>
    <%= render partial: "helpers/buttons_form", locals: {:video => videos[0]} %>
  </div>
<% elsif videos.length == 2 %>
  <h4>Overall best videos</h4>
  <% videos.each do |video| %>
    <div class="col s6 video__carousel--slide">
      <%= render partial: "videos/video_media", locals: {video: video} %>
      <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
    </div>
  <% end %>
<% elsif videos.length > 2 %>
  <h4>Overall best videos</h4>
  <% videos.each do |video| %>
    <div class="col s4 video__carousel--slide">
      <%= render partial: "videos/video_media", locals: {video: video} %>
      <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
    </div>
  <% end %>
<% end %>
