<% if !videos.present? %>
  <div class="col s12">
    <div class="section">
      <div class="divider"></div>
      <p class="center-align">No clips submited. Post your YouTube clip for this spot and you'll become the Boss of <%= @spot.name %></p>
    </div>
  </div>
<% elsif videos.length == 1 %>
  <div class="col s12">
    <div class="section">
      <div class="divider"></div>
      <h4 class="center-align">Overall best video</h4>
    </div>
    <div class="section">
      <div class="section">
        <%= render partial: "videos/video_media", locals: {video: videos[0]} %>
        <%= render partial: "helpers/buttons_form", locals: {:video => videos[0]} %>
      </div>
    </div>
  </div>
<% elsif videos.length == 2 %>
  <div class="col s12">
    <div class="section">
      <div class="divider"></div>
      <h4 class="center-align">Overall best videos</h4>
    </div>
  </div>
  <% videos.each do |video| %>
    <div class="col l6 m6 s12">
      <div class="section">
        <%= render partial: "videos/video_media", locals: {video: video} %>
        <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
      </div>
    </div>
  <% end %>
<% elsif videos.length > 2 %>
  <div class="col s12">
    <div class="section">
      <div class="divider"></div>
      <h4 class="center-align">Overall best videos</h4>
    </div>
  </div>
  <% videos.each do |video| %>
    <div class="col l4 m6 s12">
      <div class="section">
        <%= render partial: "videos/video_media", locals: {video: video} %>
        <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
      </div>
    </div>
  <% end %>
<% end %>
