<% if videos.length == 1 %>
  <h4>Latest entry</h4>
  <div class="col s12 video__carousel--slide">
    <%= render partial: "videos/video_media", locals: {video: videos[0]} %>
    <%= render partial: "helpers/buttons_form", locals: {:video => videos[0]} %>
  </div>
<% elsif videos.length == 2 %>
  <h4>Latest entries</h4>
  <% videos.each do |video| %>
    <div class="col s6 video__carousel--slide">
      <%= render partial: "videos/video_media", locals: {video: video} %>
      <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
    </div>
  <% end %>
<% elsif videos.length > 2 %>
  <h4>Latest entries</h4>
  <% videos.each do |video| %>
    <div class="col s4 video__carousel--slide">
      <%= render partial: "videos/video_media", locals: {video: video} %>
      <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
    </div>
  <% end %>
<% end %>
