<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose a spot <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @spots_by_district.each do |spot|%>
            <% if spot.district == @current_district %>

              <li><%= link_to spot.name, spot_path(spot.id) %></li>
            <% elsif spot.district != @current_district then @current_district = spot.district%>
            <li role="separator" class="divider"></li>
            <li><a disabled=true><b><%= spot.district %></b></a></li>
              <li><%= link_to spot.name, spot_path(spot) %></li>
            <% end %>
          <% end%>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h3>The crime scenes</h3>
      <p>Our most boiling skate spots</p>
      <% @most_active_spots.each do |spot|%>
        <ul>
          <li>
            <div class="media">
              <div class="media-left">
                <a href="<%= spot_path(spot) %>">
                  <img class="media-object rounded--avatars" src="<%= spot.logo.url(:thumb)%>" alt="Spot's avatar">
                </a>
              </div>
              <div class="media-body">
                  <a href="<%= spot_path(spot) %>">
                    <h4 class="media-heading"><%= spot.name %>
                    </h4>
                  </a>
                 <%= spot.description %>
                  <p>Kick back and enjoy the <%= spot.videos.length %> clips submited for this spot</p>
              </div>
            </div>
          </li>
        </ul>
        <% end %>
    </div>
  </div>
</div>
