<div class="main__background custom__background-<%=@bg_id%>">
  <div class="container">
  <div class="row">
    <div class="col s12">
      <div class="section">
        <div id="map">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="divider"></div>
      <div class="section center-align">
        <div class="section">
        <div class="card-panel jumbotron center-align">
          <span class="black-text">
            <h4>The crime scenes</h4>
            <h5>Our most boiling skate spots</h5>
          </span>
        </div>
      </div>

      </div>
    </div>
    <div class="s12">
      <div class="section">
        <% @most_active_spots.each do |spot|%>
          <div class="col l4 m12 s12">
            <%= render partial: "spot_media", locals: {:spot => spot} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="divider"></div>
      <div class="section center-align">
        <div class="card-panel jumbotron center-align">
          <span class="black-text">
            <h5>Check the latest clip!<h5/>
          </span>
        </div>
      </div>
    </div>
    <div class="col m12">
      <div class="divider"></div>
      <div class="section">
        <%= render partial: "videos/video_media", locals: {video: @last_video_updated} %>
        <%= render partial: "helpers/buttons_form", locals: {video: @last_video_updated} %>
      </div>

      <% if !current_user %>
        <div class="divider"></div>
        <div class="section">
          <%= render 'helpers/suscribe_buttons' %>
        </div>
      <% else %>
        <div class="section">
        </div>
      <%end%>
      <div class="section">
      </div>
    </div>
  </div>
</div>
