<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>The crime scenes</h3>
      <p>Our most boiling skate spots</p>
      <% @most_active_spots.each do |spot|%>
        <ul>
          <li>
            <div class="media">
              <div class="media-left">
                <a href="<%= spot_path(spot.id) %>">
                  <img class="media-object rounded--avatars" src="<%= spot.logo.url(:thumb)%>" alt="Spot's avatar">
                </a>
              </div>
              <div class="media-body">
                  <a href="<%= spot_path(spot.id) %>">
                    <h4 class="media-heading"><%= spot.name %>
                    </h4>
                  </a>
                 <%= spot.description %>
                  <p>Kick back and enjoy the <%= spot.videos.length + 1 %> clips submited for this spot</p>
              </div>
            </div>
          </li>
        </ul>
        <% end %>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose a spot <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @spots.each do |spot|%>
          <li><%= link_to spot.name, spot_path(spot.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
