<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Check this spot being murdered</h3>
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="<%= @spot.logo.url(:thumb)%>" alt="Spot's avatar">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @spot.name %></h4>
          <%= @spot.description %>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <% if @videos.any?%>
            <% @videos.each do |video| %>
              <% if @spot.id = video.spot_id %>
                <h4 class="media-heading"><%= video.name %></h4>
                <p><%= video.description %></p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>" frameborder="0" allowfullscreen></iframe>
              <% end %>
            <% end %>
          <% else %>
            <p>No video submitted yet. Go ahead, submit yours and become the boss of the spot</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
