<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="<%= @spot.logo.url(:thumb)%>" alt="Spot's avatar">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @spot.name %></h4>
          <%= @spot.description %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose a category <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="<%= spot_path(params[:id])%>">All the videos</a></li>
            <li><a href="<%= spot_path(params[:id])%>?category=trick">Best Trick</a></li>
            <li><a href="<%= spot_path(params[:id])%>?category=line">Firing Line</a></li>
            <li><a href="<%= spot_path(params[:id])%>?category=slam">Worst Slam</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12">
      <% if @videos.present?%>
        <div class="row">
          <h4>Best videos for this spot and the following category</h4>
          <% if @videos.length == 1 %>
            <% @videos.each do |video| %>
              <div class="col-lg-6 video__carousel--slide">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
                </div>
                  <%= form_tag('/votes/like') do %>
                  <%= hidden_field_tag :video_id, video.id %>
                  <div><%= submit_tag 'Like', class: "btn btn-success vote--buttons" %></div>
                  <% end %>
                  <%= form_tag('/votes/dislike') do %>
                  <%= hidden_field_tag :video_id, video.id %>
                  <div><%= submit_tag 'Dislike', class: "btn btn-danger vote--buttons" %></div>
                  <% end %>
                  <button type="button" class="btn btn-info"><%= link_to "Report poser", method: :put%></button></a>
              </div>
            <% end %>
            <% elsif @videos.length > 1 %>
              <% @videos.each do |video| %>
                <div class="col-md-6 video__carousel--slide">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
                  </div>
                  <div class="vote__buttons">
                    <%= form_tag('/votes/like') do %>
                    <%= hidden_field_tag :video_id, video.id %>
                    <div><%= submit_tag 'Like', class: "btn btn-success vote--buttons" %></div>
                    <% end %>
                  </div>
                  <div class="vote__buttons">
                    <%= form_tag('/votes/dislike') do %>
                    <%= hidden_field_tag :video_id, video.id %>
                    <div><%= submit_tag 'Dislike', class: "btn btn-danger vote--buttons" %></div>
                    <% end %>
                  </div>
                  <div class="vote__buttons">
                    <button type="button" class="btn btn-default"><%= link_to "Report poser", method: :put%></button></a>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
      <% else %>
        <p>No video submitted yet. Go ahead, submit yours and become the boss of this spot</p>
      <% end %>
    </div>
  </div>
</div>
