<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Check this spot being murdered</p>
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="<%= @spot.logo.url(:thumb)%>" alt="Spot's avatar">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @spot.name %></h4>
          <%= @spot.description %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="btn-group">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose a category <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a disbaled="true">Best trick</a></li>
            <li><a disbaled="true">Firing Line</a></li>
            <li><a disbaled="true">Worst Slam</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @videos.any?%>
        <div class="row">
          <% if @videos.length == 1 %>
            <% @videos.each do |video| %>
              <div class="col-md-12 video__carousel--slide">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
                </div>
                <a disabled="true"><button type="button" class="btn btn-success">Like</button></a>
                <a disabled="true"><button type="button" class="btn btn-danger">Dislike</button></a>
              </div>
            <% end %>
            <% elsif @videos.length > 1 %>
              <% @videos.each do |video| %>
                <div class="col-md-6 video__carousel--slide">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
                  </div>
                  <a disabled="true"><button type="button" class="btn btn-success">Like</button></a>
                  <a disabled="true"><button type="button" class="btn btn-danger">Dislike</button></a>
                </div>
            <% end %>
          <% end %>
      <% else %>
        <p>No video submitted yet. Go ahead, submit yours and become the boss of the spot</p>
      <% end %>
    </div>
  </div>
</div>
