<div class="col l6 s12">
  <div class="section">
  <div class="card small">
    <div class="card-image">
      <img class="rounded--avatars skater__profile--img" src="<%= skater.logo.url(:medium)%>" alt="Skater's avatar">
    </div>
    <div class="card-content">
      <% if skater.stance.present? %>
        <b>Stance:</b> <%= skater.stance.capitalize() %>
      <%end%>
      <%if skater.videos.any? %>
        <% if skater.videos.length == 1 %>
          <p> <%= skater.videos.length %> clip posted</p>
        <% else %>
          <p><%= skater.videos.length %> clips posted</p>
        <% end %>
      <%else%>
        <p><%= skater.username%> didn't submit any clips yet...</p>
      <%end%>
    </div>

    <div class="card-action center-align">
      <a class="blue-text" href="<%= spots_path%>">Go to the skate spots!</a>
    </div>
  </div>
</div>
</div>

<div class="col l6 s12">
  <div class="section">
  <div class="card small">

    <div class="center-align card-content">
      <h5><%= skater.username %>'s profile</h5>
    </div>
    <% if @skater_likes %>
      <div class="card-action center-align">
        <a class="blue-text"><%= skater.username %> received <%= @skater_likes%> likes</a>
      </div>
    <% else %>
      <div class="card-action center-align center-action">
        <%= skater.username %> didn't receive any thumbs up yet...
      </div>
    <%end%>
  </div>
</div>
</div>
