<h1>User with name <%= @video.skater.username %> uploaded a video ! </h1>
<br>
<h2>User details:</h2>
<p>ID: <em><%= @video.skater.id %></em></p>
<p>Email: <em><%= @video.skater.email %></em> </p>
<br>
<p><em><%= @video.skater.username %> </em>added the following video:</p>
<p>ID : <em><%= @video.id %></em><br>
Spot: <em><%= @video.spot.name %></em><br>
Link to user profile: <%= link_to 'Click here', 'http://ownthespot.tv/skaters/' + (@video.skater.username) %>
</p>
