<%= form_for @video, locals: {spots: @spots}  do |f| %>
  <form>
    <div class="form-group">
      <label for="spot_id">Choose the right spot</label>
        <select id="spots" name="spot_id">
          <% @spots.each do |spot| %>
          <option value="<%= spot.id %>"><%= spot.name %></option>
          <% end %>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label for="name">Video title</label>
      <%= f.text_field :name, class: "form-control", placeholder: "Video title" %>
    </div>
    <div class="form-group">
      <label for="name">Video description</label>
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
    </div>
    <div class="form-group">
      <label for="email">Video URL</label>
      <%= f.text_field :url, class: "form-control", placeholder: "Paste your YouTube link" %>
    </div>
    <div class="form-group">
      <%= f.radio_button :category, 'best trick', :checked => true %>
      <%= label :category, 'best trick' %>
      <%= f.radio_button :category, 'best line' %>
      <%= label :category, 'best line' %>
      <%= f.radio_button :category, 'worst slam' %>
      <%= label :category, 'worst slam' %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class:"btn btn-primary" %>
    </div>
  </form>
<% end %>
