<% cta_text = current_user ? "Edit your profile" : bypass_instagram_auth? ? "Create your account" : "Connect with Instagram" %>
<% username_button_text = current_user ? 'Change your username' : 'Enter your username' %>

<%= form_for @skater, :html => {:multipart => true }  do |f| %>

    <% if current_user %>
        <%= f.hidden_field :id %>
    <% end %>

    <%= f.text_field :username, placeholder: "Username", required: true %>
    <label for="username"><%= username_button_text%></label>

    <% if !current_user %>
        <%= f.email_field :email, placeholder: "Email", required: true %>
        <label for="email">Enter a valid email</label><br>

        <div class="modify--userlogo">
          <%= f.label :logo %>
          <%= f.file_field :logo, required: true %>
        </div>
        <label for="stance">Choose an avatar</label><br>
    <% end %>

    <%= f.radio_button(:stance, "regular", class:"with-gap", required: true) %>
    <label for="skater_stance_regular">Regular</label>

    <%= f.radio_button( :stance, 'goofy' , class:"with-gap", required: true )%>
    <label for="skater_stance_goofy">Goofy</label><br>

    <label for="stance">Choose your stance</label>

    <% if !current_user %>

        <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true, length: 8 %>
        <label for="password">Enter your password</label>


        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", required: true, length: 8 %>
        <label for="password_confirmation">Confirm your password</label><br>
    <% end %>

      <%= f.submit cta_text, class:"btn btn-primary" %>

<% end %>
