<% cta_text = current_user ? "Edit your profile" : bypass_instagram_auth? ? "Create your account" : "Connect with Instagram" %>
<% username_button_text = current_user ? 'Change your username' : 'Enter your username' %>

<%= form_for @skater, :html => {:multipart => true }  do |f| %>

    <% if current_user %>
        <%= f.hidden_field :id %>
    <% end %>

    <label for="username"><%= username_button_text%></label>
    <%= f.text_field :username, placeholder: "Username", required: true %>


    <% if !current_user %>
        <label for="email">Enter a valid email</label>
        <%= f.email_field :email, placeholder: "Email", required: true %>

        <label for="logo">Choose an avatar</label>
        <%= f.file_field :logo, required: true, id: 'input-logo-edit' %>

    <% end %>
    <div class="stance-checkboxes-form">
      <label for="skater_stance_regular" class="regular-checkbox-edit">Regular</label>
      <%= f.radio_button(:stance, "regular", required: true) %>

      <label for="skater_stance_goofy">Goofy</label>
      <%= f.radio_button( :stance, 'goofy' , required: true )%>
    </div>

    <% if !current_user %>
        <label for="password">Enter your password</label>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter your Password", required: true, length: 8 %>


        <label for="password_confirmation">Confirm your password</label>
        <%= f.password_field :password_confirmation, placeholder: "Confirm your Password", required: true, length: 8 %>
    <% end %>

      <%= f.submit cta_text, class:"btn btn-primary" %>

<% end %>
