<% button = current_user ? "Edit your profile" : "Create your profile" %>

<%= form_for @skater, :html => {:multipart => true }  do |f| %>


      <div class="modify--userlogo">
        <%= f.label :logo %>
        <%= f.file_field :logo %>
      </div>
      <label for="stance">Choose an avatar</label><br>
    <% if current_user.nil? %>

        <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
        <label for="username">Enter your username</label>



        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        <label for="email">Enter a valid email</label><br>

    <% end %>

      <%= f.radio_button(:stance, "regular", class:"with-gap") %>
      <label for="skater_stance_regular">Regular</label>


      <%= f.radio_button( :stance, 'goofy' , class:"with-gap" )%>
      <label for="skater_stance_goofy">Goofy</label><br>

      <label for="stance">Choose your stance</label>

    <% if current_user %>

        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        <label for="password">Type a new password</label>



        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"  %>
        <label for="password_confirmation">Confirm your new password</label><br>
    <% else %>

        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        <label for="password">Enter your password</label>


        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"   %>
        <label for="password_confirmation">Confirm your password</label><br>
    <% end %>

      <%= f.submit button, class:"btn btn-primary" %>


<% end %>
