<%= form_for @video  do |f| %>
  <%= f.radio_button(:category, "trick", :checked => true, class:"with-gap") %>
  <label for="video_category_trick">Best trick</label>

  <%= f.radio_button( :category, 'line' , class:"with-gap" )%>
  <label for="video_category_line">Firing Line</label>

  <%= f.radio_button( :category, 'slam' , class:"with-gap" )%>
  <label for="video_category_slam">Worst slam</label><br>



  <%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>
