<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="nav navbar-nav">
        <a class="navbar-brand" href="/">
          <img alt="Brand" width="30" height="30" src="http://i.imgur.com/tjF76Fq.png">
          <p>OwnTheSpot.TV</p>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Spots', spots_path %></li>
        <li><%= link_to 'Leaderboards' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join the Mob <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">What is OwnTheSpot.TV</a></li>
            <li><a href="#">10 rules to rule them all</a></li>
            <li><%= link_to 'Our partners in skate crime', skaters_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a disabled="true"><b>Signed in as <%= current_user.username %></b> <img class="rounded--avatars" style="width:30px; height:30px" src="<%= current_user.logo.url(:thumb)%>" alt="Skater's avatar"></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <button type="button" class="btn btn-primary btn-sm">
                  <span class="glyphicon glyphicon-cog"></span> Account
                  <span class="caret"></span>
                </button>
              </a>
              <ul class="dropdown-menu">
                <li><a disabled=true><%= link_to "View your profile", skater_path(current_user)%></a></li>
                <li><a disabled=true><%= link_to "Edit your profile", edit_skater_path(current_user)%></a></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>
        <% else %>
          <li><%= link_to 'Login', '/login' %></li>
          <li><%= link_to 'Signup', new_skater_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
