<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="nav navbar-nav">
        <a class="navbar-brand" href="/">
          <img alt="Brand" width="30" height="30" src="http://i.imgur.com/tjF76Fq.png">
          <p>OwnTheSpot.TV</p>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Spots', spots_path %></li>
        <li><%= link_to 'Leaderboard', votes_path %></li>
        <% if current_user %>
          <li><%= link_to 'Submit your clip', new_video_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join the Mob <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "What is OwnTheSpot.TV", about_us_path %></li>
            <li><%= link_to "10 rules to rule them all", rules_path %></li>
            <li><%= link_to 'Our partners in skate crime', skaters_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Contact us", "/contacts" %></li>
          </ul>
        </li>
        <li class="insta--badge">
          <style>.ig-b- { display: inline-block; }
          .ig-b- img { visibility: hidden; }
          .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
          .ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
          @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          .ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }</style>
          <a href="http://instagram.com/ownthespot?ref=badge" target="_blank" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
        </li>
        <li><a href="http://facebook.com/ownthespotofficial" class="fb--social__icon" target=_blank><img src="http://static.viewbook.com/images/social_icons/facebook_32.png"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a disabled="true"><b>Signed in as <%= current_user.username %></b> <img class="rounded--avatars" style="width:30px; height:30px" src="<%= current_user.logo.url(:thumb)%>" alt="Skater's avatar"></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <button type="button" class="btn btn-primary btn-sm">
                  <span class="glyphicon glyphicon-cog"></span> Account
                  <span class="caret"></span>
                </button>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "View your profile", skater_path(current_user)%></li>
                <li><%= link_to "Edit your profile", edit_skater_path(current_user)%></li>
                <li><%= link_to "Log out", logout_path, method:"delete" %></li>
              </ul>
            </li>
        <% else %>
        <ul class="navbar-nav nav">
          <li><a href="#myModal1" role="button" class="btn" data-target="#myModal1" data-toggle="modal">Log in</a></li>
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel1">Sign in</h4>
                </div>
                <div class="modal-body">
                  <%= render 'helpers/signin_form' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <li><a href="#myModal" role="button" class="btn" data-target="#myModal" data-toggle="modal">Signup</a></li>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Register as a new user</h4>
                </div>
                <div class="modal-body">
                  <%= render 'helpers/account_new_form' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </ul>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
