<%= form_for @video, locals: {spots: @spots}, class: "center-align"  do |f| %>

    <p class="center-align small-font">
      <i class="material-icons">info_outline</i>
      <br>
      Your Instagram code URL should like this:
      <br>
      <em>https://instagram.com/p/9rydb7SFkM/</em>
      <br>
      <a href="https://help.instagram.com/372819389498306" target="_blank">How to find your Instagram clip link</a>
      <br>
      <% unless bypass_instagram_auth? %>
        <a class="waves-effect waves-light btn-small" href="/videos/your-insta-links">
           <i class="material-icons left">subject</i>Get the links of your recent Insta clips
         </a>
      <% end %>
    </p>
    <div id="clipsList">

    </div>

    <%= f.text_field :url, class: "form-control", placeholder: "Paste your Instagram link" %>
    <label for="url">Video URL</label><br>


    <%= f.radio_button(:category, "trick", :checked => true, class:"with-gap") %>
    <label for="video_category_trick">Best trick</label>

    <%= f.radio_button( :category, 'line' , class:"with-gap" )%>
    <label for="video_category_line">Firing Line</label>

    <%= f.radio_button( :category, 'slam' , class:"with-gap" )%>
    <label for="video_category_slam">Worst slam</label>
    <br>
    <label for="category center-align">Choose the category of your clip</label>

    <select class="browser-default" id="spots" name="spot_id">
      <% @spots.each do |spot| %>
        <option value="<%= spot.id %>"><%= spot.name %></option>
      <% end %>
    </select>
    <label for="spot_id">Choose the right spot</label><br>

    <%= f.submit "Submit", class:"center-align btn btn-primary" %>

<% end %>
