<%= form_for @video, locals: {spots: @spots}  do |f| %>
  <form>

      <label for="spot_id">Choose the right spot</label>
        <select id="spots" name="spot_id">
          <% @spots.each do |spot| %>
          <option value="<%= spot.id %>"><%= spot.name %></option>
          <% end %>
        </select>
      </label>

      <label for="name">Video title</label>
      <%= f.text_field :name, class: "form-control", placeholder: "Video title" %>

      <label for="name">Video description</label>
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %>

      <label for="email">Video URL</label>
      <p class="small-font">Your YouTube video URL should like this:<br>
      <em>https://www.youtube.com/watch?v=0oeoesORUJU</em><br>
      <em>http://youtu.be/_ut8DOv3XeI</em></p>
      <%= f.text_field :url, class: "form-control", placeholder: "Paste your YouTube link" %>

      <div class="form-group">
        <%= f.radio_button(:category, "trick", :checked => true, class:"with-gap") %>
        <label for="video_category_trick">Best trick</label>

        <%= f.radio_button( :category, 'line' , class:"with-gap" )%>
        <label for="video_category_line">Firing Line</label>

        <%= f.radio_button( :category, 'slam' , class:"with-gap" )%>
        <label for="video_category_slam">Worst slam</label>

      </div>

      <%= f.submit "Submit", class:"btn btn-primary" %>

  </form>
<% end %>
