<% if videos.length == 1 %>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <div class="divider"></div>
      <div class="card-panel jumbotron center-align">
        <span class="black-text">
          <h5 class="center-align">
            Latest entry
          </h5>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <%= videos[0].html.html_safe%>>
      <%= render partial: "helpers/buttons_form", locals: {:video => videos[0]} %>
    </div>
  </div>
<% else %>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <div class="divider"></div>
      <div class="card-panel jumbotron center-align">
        <span class="black-text">
          <h5 class="center-align">
            Latest entries
          </h5>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <% videos.each_with_index do |video, index|
      if index % 2 == 0 %>
        <div class="section">
          <%= video.html.html_safe%>
          <%= render partial: "helpers/buttons_form", locals: {:video=> video} %>
        </div>
      <%end%>
    <%end%>
  </div>
  <div class="col s12 m6">
    <% videos.each_with_index do |video, index|
      if index % 2 != 0 %>
        <div class="section">
          <%= video.html.html_safe%>
          <%= render partial: "helpers/buttons_form", locals: {:video=> video} %>
        </div>
      <%end%>
    <%end%>
  </div>
<% end %>
