<% if !videos.present? %>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <div class="divider"></div>
      <div class="card-panel jumbotron center-align">
        <span class="black-text">
          <h5 class="center-align">
            No clips submited. Post your YouTube clip for this spot and you'll become the Boss of <%= @spot.name %>
          </h5>
        </span>
      </div>
    </div>
  </div>
<% elsif videos.length == 1 %>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <div class="divider"></div>
      <div class="card-panel jumbotron center-align">
        <span class="black-text">
          <h5 class="center-align">
            Overall best video
          </h5>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1">
    <div class="section">
      <%= videos[0].html.html_safe%>
      <%= render partial: "helpers/buttons_form", locals: {:video => videos[0]} %>
    </div>
  </div>
<% else %>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <div class="divider"></div>
      <div class="card-panel jumbotron center-align">
        <span class="black-text">
          <h5 class="center-align">
            Overall best videos
          </h5>
        </span>
      </div>
    </div>
  </div>
  <% videos.each do |video| %>
    <div class="col m6 s12">
      <div class="section">
        <%= video.html.html_safe%>
        <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
      </div>
    </div>
  <% end %>
<% end %>
