<div class="card">
  <div class="card-image">
    <a href="<%= spot_path(spot) %>">
      <img class="rounded--avatars" src="<%= spot.logo.url(:square)%>" alt="Spot's avatar">
    </a>
    <span class="card-title">
      <%= spot.name %>
    </span>
  </div>
  <div class="card-content">
    <p><%= truncate spot.description, length: 75 %>...</p>
    <br>
    <div class="divider"></div>
    <br>
    <p class="center-align">
      <em><%= spot.videos.length %> clips submited for this spot</em>
    </p>
  </div>
  <div class="center-align hoverable card-action">
    <a class="blue-text" href="<%= spot_path(spot) %>">
      Check more action
    </a>
  </div>
</div>
