<div class="container">
  <div class="col-lg-9">
    
    <div class="jumbotron">
      <img alt="Brand" class="pull-right" width="200" height="200" src="http://i.imgur.com/tjF76Fq.png">
      <h1>Welcome to OwnTheSpot.TV</h1>
      <p>20 skate spots located in Barcelona</p>
      <p>Best Trick, Best Line, Worst Slam... Send us your best videos!</p>
      <p>Watch the footy, you decide who is the Boss of the spot!</p>
      <p><a class="btn btn-primary btn-lg" href="/spots" role="button">Learn more</a></p>
    </div>
  </div>
  <div class="col-lg-3">
    <h3>The Bosses you shouldn't mess with are.... </h3>
    <% @best_skaters.each do |skater| %>
    <div class="media">
      <div class="media-left">
        <img class="media-object rounded--avatars" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= skater.username %></h4>
          <% if skater.stance.present? %>
            <b>Stance:</b> <%= skater.stance.capitalize() %>
            <% if skater.videos.length == 1 %>
              <p> <%= skater.videos.length %> video posted</p>
            <% else %>
              <p><%= skater.videos.length %> videos posted</p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if current_user.nil? %>
  <div class="row">
    <div class="col-md-12">
      <p>Wanna be on top of the Skate Mob? </p>
      <button type="button" role="button" data-target="#myModal" data-toggle="modal" class="btn btn-default"><%= link_to "Create a new account", "#myMdoal"%></button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Register as a new user</h4>
            </div>
            <div class="modal-body">
              <%= render 'helpers/account_new_form' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" role="button" data-target="#myModal1" data-toggle="modal" class="btn btn-default"><%= link_to "Or log in with your account", "#myMdoal1"%></button>
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel1">Sign in</h4>
            </div>
            <div class="modal-body">
              <%= render 'helpers/signin_form' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
