<div class="container">
  <div class="row">
    <div class="col-md-9 homepage--pushcontent__below">
    <div class="jumbotron">
      <% if current_user.nil?%>
        <%= render 'helpers/suscribe_buttons' %>
      <%end%>

      <img alt="Brand" class="pull-right" width="200" height="200" src="http://s3.amazonaws.com/ownthespot/skaters/logos/000/000/123/medium/tjF76Fq.png">
      <h1>Welcome to OwnTheSpot.TV</h1>
      <p>20 skate spots located in Barcelona</p>
      <p>Best Trick, Best Line, Worst Slam... Send us your best videos!</p>
      <p>Watch the footy, you decide who is the Boss of the spot!</p>
      <p><a class="btn btn-primary btn-lg" href="/spots" role="button">Learn more</a></p>
    </div>
  </div>
  <div class="col-lg-3 homepage--pushcontent__below">
    <h3>Top of the Mob</h3>
    <% @best_skaters.each do |skater| %>
    <div class="media">
      <div class="media-left media-middle">
        <img class="media-object rounded--avatars" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
      </div>
      <div class="media-body media-middle">
        <h4 class="media-heading"><%= skater.username %></h4>
          <% if skater.stance.present? %>
            <b>Stance:</b> <%= skater.stance.capitalize() %>
            <% if skater.videos.length == 1 %>
              <p> <%= skater.videos.length %> video posted</p>
            <% else %>
              <p><%= skater.videos.length %> videos posted</p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
