<div class="card small">
  <div class="card-image">
    <a href="<%= skater_path(skater) %>">
      <img class="rounded--avatars" src="<%= skater.logo.url(:medium)%>" alt="Skater's avatar">
    </a>
    <span class="card-title">
      <%= skater.username %>
    </span>
  </div>
  <div class="card-content spot__show--collapsible">
    <% if skater.stance.present? %>
      <b>Stance:</b> <%= skater.stance.capitalize() %>
      <% if skater.videos.length == 1 %>
        <p> <%= skater.videos.length %> clip posted</p>
      <% else %>
        <p><%= skater.videos.length %> clips posted</p>
      <% end %>
    <%end%>
  </div>

  <div class="card-action center-align spot__show--collapsible hoverable">
    <a class="center-align blue-text" href="<%= spots_path%>">Check out the skate spots!</a>
  </div>
</div>
