<div class="col l6 s12">
  <div class="section">
  <div class="card small">
    <div class="card-image">
      <img class="rounded--avatars skater__profile--img" src="<%= skater.logo.url(:medium)%>" alt="Skater's avatar">
    </div>
    <div class="card-content">
      <% if skater.stance.present? %>
        <b>Stance:</b> <%= skater.stance.capitalize() %>
      <%end%>
      <%if skater.videos.any? %>
        <% if skater.videos.length == 1 %>
          <p> <%= skater.videos.length %> clip posted</p>
        <% else %>
          <p><%= skater.videos.length %> clips posted</p>
        <% end %>
      <%else%>
        <p>Don't be scared of the Mob. <%= link_to "Submit your first clip", new_video_path %> and get rewarded!</p>
      <%end%>
    </div>

    <div class="card-action center-align">
      <a class="blue-text" href="<%= spots_path%>">Go to the skate spots!</a>
    </div>
  </div>
</div>
</div>

<div class="col l6 s12">
  <div class="section">
  <div class="card small">

    <div class="center-align card-content">
      <h5>What's up <%= skater.username %> ?</h5>
      <div class="divider skater__profile--whatsup"></div>
      <ul>
        <li>
          <%= link_to edit_skater_path(skater)  do %>
            <i class="material-icons">build</i> Update your profile
          <% end %>
        </li>
        <li>
          <%= link_to skater, method: :delete, data: { confirm: "Are you sure you want to delete your account?"} do %>
            <i class="navbar--title material-icons">delete</i> Wanna quit the Mob?
          <% end %>

        </li>
      </ul>

    </div>
    <% if @skater_likes %>
      <div class="card-action center-align">
        <a class="blue-text">You received <%= @skater_likes%> likes</a>
      </div>
    <% else %>
      <div class="card-action center-align center-align">
        You didn't receive any thumbs up yet...
      </div>
    <%end%>
  </div>
</div>
</div>
