<div class="container">
  <div class="row homepage--pushcontent__below">
        <% if current_user.present? %>
        <div class="col-lg-3 col-sm-offset-2 pushing__div--below">
          <img class="winner--image" src="http://i.imgur.com/n7VqPOw.jpg" width="140" height="137" alt="Number one" align="left">
        </div>
        <div class="col-lg-6">
          <h3>The overall best skater</h3>
          <div class="media">
            <div class="media-left media-middle">
              <a href="<%=skater_path(@best_skater)%>"><img class="media-object rounded--avatars" src="<%= @best_skater.logo.url(:thumb) %>" alt="Skater's avatar"></a>
            </div>
            <div class="media-body media-middle">
              <h4 class="media-heading"><%= link_to @best_skater.username, skater_path(@best_skater) %></h4>
              <% if @best_skater.stance.present? %>
                <b>Stance:</b> <%= @best_skater.stance.capitalize() %>
                <% if @best_skater.videos.length == 1 %>
                  <p> <%= @best_skater.videos.length %> video posted</p>
                <% else %>
                  <p><%= @best_skater.videos.length %> videos posted</p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% else %>
        <div class="col-lg-2 col-sm-offset-1 pushing__div--below">
          <img class="winner--image" src="http://s3.amazonaws.com/ownthespot/skaters/logos/000/000/107/medium/Capture_d%E2%80%99e%CC%81cran_2015-08-05_a%CC%80_16.12.13.png?1438785321" class="winner--image" width="140" height="137" alt="Number one" align="left">
        </div>
        <div class="col-lg-5">
          <h3>The overall best skater</h3>
          <div class="media">
            <div class="media-left media-middle">
              <img class="media-object rounded--avatars" src="<%= @best_skater.logo.url(:thumb) %>" alt="Skater's avatar">
            </div>
            <div class="media-body media-middle">
              <h4 class="media-heading"><%= @best_skater.username %></h4>
              <% if @best_skater.stance.present? %>
                <b>Stance:</b> <%= @best_skater.stance.capitalize() %>
                <% if @best_skater.videos.length == 1 %>
                  <p> <%= @best_skater.videos.length %> video posted</p>
                <% else %>
                  <p><%= @best_skater.videos.length %> videos posted</p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4 pushing__div--below">
          <p>Wanna be on top of the Skate Mob? </p>
          <button type="button" role="button" data-target="#myModal" data-toggle="modal" class="btn btn-default"><%= link_to "Create a new account", "#myMdoal"%></button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Register as a new user</h4>
                </div>
                <div class="modal-body">
                  <%= render 'helpers/account_new_form' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" role="button" data-target="#myModal1" data-toggle="modal" class="btn btn-default"><%= link_to "Or log in with your account", "#myMdoal1"%></button>
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel1">Sign in</h4>
                </div>
                <div class="modal-body">
                  <%= render 'helpers/signin_form' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          </div>

        <% end %>

    </div>
    <div class="row">
      <div class="col-lg-12  video__carousel--border">
        <h3>Highest rated videos</h3>
        <% @highest_rated_videos.each do |video| %>
          <div class="col-lg-4 video__carousel--slide">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
            </div>
            <div class="vote__buttons">
              <b>Overall Score</b> <%= video.score %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
