<div class="main__background custom__background-<%=@bg_id%>">
  <div class="container">
    <div class="row">
      <div class="col m8 offset-m2 s12">
        <div class="section">
          <% if @skaters_by_videos %>
            <div class="section">
              <div class="card-panel jumbotron center-align">
                <span class="black-text">
                  <h5 class="center-align"><i class="medium material-icons center__material--icons">insert_chart</i> Top 3 ranking by number of videos</h5>
                </span>
              </div>
              <%= render partial: "helpers/leaderboard_by_videos", locals: {skaters: @skaters_by_videos, spot: nil } %>
              <div class="category_menu center-align">
                <%= render partial: "helpers/leaderboard_dropdown" %>
              </div>
            </div>
          <% elsif @spots %>
            <div class="section">
              <div class="card-panel jumbotron center-align">
                <span class="black-text">
                  <h5 class="center-align"><i class="medium material-icons center__material--icons">insert_chart</i> Choose a spot</h5>
                </span>
              </div>
              <form>
                <select onChange="if(this.selectedIndex!=0)
                  self.location=this.options[this.selectedIndex].value" class="browser-default" id="spots" name="spot_id">
                  <% @spots.each do |spot| %>
                    <option value="<%= rankings_path%>?spot=<%= spot.name %>"><%= spot.name %></option>
                  <% end %>
                </select>
              </form>
              <br>
              <div class="category_menu center-align">
                <%= render partial: "helpers/leaderboard_dropdown" %>
              </div>

            </div>
          <% elsif @skaters_for_spot
          spot_link = current_user ? spot_path(@spot) : new_skater_path
          spot_text = current_user ? "Visit this spot" : "Log in to see more"
          %>
            <div class="section">
              <div class="card-panel jumbotron center-align">
                <span class="black-text">
                  <h5 class="center-align">
                    <img class="center__material--icons media-object rounded--avatars" src="<%= @spot.logo.url(:thumb)%>" alt="Spot's avatar">
                      Top 5 ranking for <%=@spot.name%>
                      <a href="<%= spot_link%>"><%= spot_text%></a>
                  </h5>
                </span>
              </div>
              <%= render partial: "helpers/overall_best", locals: {:skaters => @skaters_for_spot, :spot => @spot} %>
              <select onChange="if(this.selectedIndex!=0)
                self.location=this.options[this.selectedIndex].value" class="browser-default" id="spots" name="spot_id">
                <% @list_of_spots.each do |spot| %>
                  <option value="<%= rankings_path%>?spot=<%= spot.name %>"><%= spot.name %></option>
                <% end %>
              </select>
              <div class="category_menu center-align">
                <%= render partial: "helpers/leaderboard_dropdown" %>
              </div>
            </div>
          <% elsif @skaters %>
            <div class="section">
              <div class="card-panel jumbotron center-align">
                <span class="black-text">
                  <h5 class="center-align"><i class="medium material-icons center__material--icons">insert_chart</i> Top 5 ranking by number of likes</h5>
                </span>
              </div>
              <%= render partial: "helpers/overall_best", locals: {skaters: @skaters, spot: nil} %>
              <div class="category_menu center-align">
                <%= render partial: "helpers/leaderboard_dropdown" %>
              </div>
            </div>
          <%end%>
        </div>

      </div>

      <div class="col s12">
        <div class="divider"></div>
      </div>

      <div class="col m6 offset-m3 s12">
        <div class="section">
          <div class="card-panel jumbotron center-align">
            <span class="black-text">
              <h5 class="center-align">All-time greatest videos</h5>
            </span>
          </div>
        </div>
      </div>
      <div class="col m6 s12">
        <% @highest_rated_videos.each_with_index do |skater_and_video, index| %>
          <% if index % 2 == 0 %>
            <div class="section">
              <%= skater_and_video[1].html.html_safe%>
              <%= render partial: "helpers/buttons_form", locals: {:video => skater_and_video[1]} %>
            </div>
          <% end %>
        <%end%>
      </div>
      <div class="col m6 s12">
        <% @highest_rated_videos.each_with_index do |skater_and_video, index| %>
          <% if index % 2 != 0 %>
            <div class="section">
              <%= skater_and_video[1].html.html_safe%>
              <%= render partial: "helpers/buttons_form", locals: {:video => skater_and_video[1]} %>
            </div>
          <% end %>
        <%end%>
      </div>

    </div>

    <%unless current_user %>
      <div class="row">
        <div class="col s12">
          <div class="divider"></div>
          <div class="section">
            <%= render 'helpers/suscribe_buttons' %>
          </div>
        </div>
      </div>
    <%end%>
    <div class="section"></div>
  </div>
</div>
