<div class="main__background custom__background-<%=@bg_id%>">
  <div class="container">
    <div class="row">
      <div class="col m6 offset-m3 s12">
        <div class="section">
          <%= render partial: "helpers/overall_best", locals: {skaters: @skaters} %>
        </div>
      </div>

      <div class="col s12">
        <div class="divider"></div>
      </div>

      <div class="col m6 offset-m3 s12">
        <div class="section">
          <div class="card-panel jumbotron center-align">
            <span class="black-text">
              <h5 class="center-align">Highest rated videos</h5>
            </span>
          </div>
        </div>
      </div>
      <div class="col m6 s12">
        <% @highest_rated_videos.each_with_index do |skater_and_video, index| %>
          <% if index % 2 == 0 %>
            <div class="section">
              <%= skater_and_video[1].html.html_safe%>
              <%= render partial: "helpers/buttons_form", locals: {:video => skater_and_video[1]} %>
            </div>
          <% end %>
        <%end%>
      </div>
      <div class="col m6 s12">
        <% @highest_rated_videos.each_with_index do |skater_and_video, index| %>
          <% if index % 2 != 0 %>
            <div class="section">
              <%= skater_and_video[1].html.html_safe%>
              <%= render partial: "helpers/buttons_form", locals: {:video => skater_and_video[1]} %>
            </div>
          <% end %>
        <%end%>
      </div>

    </div>

    <%unless current_user %>
      <div class="row">
        <div class="col s12">
          <div class="divider"></div>
          <div class="section">
            <%= render 'helpers/suscribe_buttons' %>
          </div>
        </div>
      </div>
    <%end%>
    <div class="section"></div>
  </div>
</div>
