<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="cashe-control" content="no-cashe">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>OwnTheSpot.TV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<main class="main__background custom__background-">
  <% flash.each do |k, v| %>
    <div class=<%= k %> style="display: none;">
      <%= v %>
    </div>
  <% end %>
  <%= render 'helpers/navbar' %>
  <%= yield %>
  </main>
  <%=render 'helpers/footer' %>
</body>
</html>
